.apps-left {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}

.apps-left > div {
  flex-wrap: wrap;
}

.option {
  background-color: transparent;
  border: none;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
  font-size: 17px;
  font-weight: 600;
  color: var(--grey-clr);
  min-width: 100px;
}

.rectangle {
  width: 5px;
  height: 30px;
  border-radius: 3px;
}

.green-rectangle {
  background-color: var(--clr-green-50);
}

.grey-rectangle {
  background-color: var(--grey-clr);
}

.option section {
  font-size: 20px;
}
