.partners-wrapper p {
  font-size: 20px;
  margin-bottom: 30px;
}

.partners-wrapper > section > h2 {
  text-align: center;
}

.partners {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 110px;
  gap: 40px;
}

/* TODO: oddzielny plik */
@media (width <= 930px) {
  .partners {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* TODO: oddzielny plik */
@media (width <= 700px) {
  .partners {
    grid-template-columns: repeat(1, 1fr);
  }
}

.partner {
  background-color: var(--background-clr2);
  padding: 25px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 1;
  transition: scale 0.3s ease-in-out;

  &:hover {
    scale: 1.1;
    transition: scale 0.3s ease-in-out;
  }
}

.partner img {
  height: 35px;
}

.partner img[alt='Dell logo'] {
  height: 60px;
}

.partner img[alt='OpenAI logo'] {
  height: 25px;
}

.partner img[alt='Apple logo'] {
  height: 50px;
}

.loader {
  height: 40px;
  display: flex;
  border-radius: 8px;
}

.loader > p {
  margin-top: 3px;
}

.words {
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}

.words::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 20;
}

.word {
  display: block;
  height: 100%;
  padding-left: 8px;
  color: var(--clr-1-download);
  animation: spin 4s infinite;
  font-size: 23px;
  font-weight: 600;
  text-transform: lowercase;
}

@keyframes spin {
  10% {
    transform: translateY(-102%);
  }

  25% {
    transform: translateY(-100%);
  }

  35% {
    transform: translateY(-202%);
  }

  50% {
    transform: translateY(-200%);
  }

  60% {
    transform: translateY(-302%);
  }

  75% {
    transform: translateY(-300%);
  }

  85% {
    transform: translateY(-402%);
  }

  100% {
    transform: translateY(-400%);
  }
}
