.ratings-wrapper {
  flex-direction: column;
  overflow: hidden;
}

.rating {
  width: 500px;
  background-color: var(--background-clr2);
  border-radius: 15px;
}

.rating > div {
  width: 100%;
  height: 50%;
  padding: 20px;
}

.rating .ratings-top-wrapper {
  display: flex;
  justify-content: start;
  column-gap: 20px;
  align-items: center;
}

.ratings-top-wrapper img {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

.ratings-top-wrapper .name {
  font-weight: bold;
}

.ratings-top-wrapper > div {
  height: 100%;
  width: fit-content;
}

.rating .ratings-bottom-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.marquee-container {
  overflow: hidden;
  width: 100%;
  margin: 20px 0;
  position: relative;
}

.marquee-content {
  display: flex;
  gap: 40px;
  width: max-content;
  animation: scroll-left 33s linear infinite;
}

.marquee-container.reverse .marquee-content {
  animation: scroll-right 33s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
