.forum-wrapper {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  row-gap: 15px;
}

.new-thread,
.threads,
.comments {
  margin-bottom: 20px;
}

.new-thread input,
.add-comment input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.new-thread button,
.add-comment button {
  padding: 10px 20px;
  background-color: var(--clr-green-50);
  color: var(--buttons-clr);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.new-thread button:hover,
.add-comment button:hover {
  background-color: var(--clr-green-100);
}

.threads .thread {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.threads .thread.active {
  background-color: var(--clr-green-50);
  color: var(--buttons-clr);
}

.comments .comment {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.add-comment input {
  margin-top: 10px;
}
