@import '../../../../../Global\ styles/variables/variables.scss';
@import '../../../../../Global\ styles/functions/function.scss';

.contact-wrapper > section {
  width: max(60%, 300px);
  @include basicFlexBox;
  column-gap: 40px;
}

@media (width <= 1400px) {
  .contact-wrapper > section {
    width: max(90%, 300px);
  }
}

@media (width <= 800px) {
  .contact-wrapper > section {
    flex-direction: column;
  }
}

.contact-wrapper > h1 {
  margin-bottom: 30px;
}

.contact-wrapper > section > div {
  width: 50%;
  min-width: 370px;
  min-height: 518px;
  background-color: $background-clr2;
  border-radius: 20px;
  padding: 20px;

  p {
    font: {
      weight: 500;
      size: 17px;
    }
    text-align: center;
  }
}

.left-contact {
  @include basicFlexBox(column);
  row-gap: 40px;
}

.left-contact > div {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  column-gap: 10px;

  div {
    float: left;
    @include basicFlexBox(column);
    align-items: flex-start;
    row-gap: 10px;
  }

  svg {
    float: left;
    width: 40px;
    height: 40px;
    fill: $clr-2-download;
    margin-right: 20px;
  }

  .bold {
    font-weight: bold;
  }

  .normal {
    font-style: italic;
  }
}

.right-contact form {
  width: 100%;
  height: 100%;

  @include basicFlexBox(column);
  row-gap: 20px;

  div {
    width: 100%;
    padding: 0;
  }

  label,
  input {
    width: 100%;
  }

  textarea {
    width: 100%;
    max-height: 200px;
    height: 140px;
    padding: 10px;
  }
}
