/* common styles for components in Home Page */
.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 0;
}

.wrapper > section {
  width: max(40%, 300px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

.buttons-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  column-gap: 30px;
}

/* TODO: oddzielny plik */
@media (width <= 1200px) {
  .wrapper > section {
    width: 80vw;
  }
}
