@import '../../../../Global\ styles/variables/variables.scss';
@import '../../../../Global\ styles/functions/function.scss';

.message {
  position: fixed;
  top: 20%;
  right: 0;
  width: 250px;
  height: 60px;
  background-color: $background-clr2;
  color: $buttons-clr;
  @include basicFlexBox;
  row-gap: 30px;
  text-align: center;
  padding: 20px;
  box-sizing: content-box;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  outline: none;
  transform: translateX(100%);
}

// wrappers
.message > div {
  height: 100%;
  @include basicFlexBox;
}

.narrow-message {
  width: 20%;
}

.wide-message {
  width: 60%;
}

// message icon
.message img {
  width: 50px;
  height: 50px;
}

// date and time
.message .grey {
  font-weight: 600;
}

// class added/removed to start/end animation
.hide {
  animation: hide 1s ease-in-out forwards;
}

.show {
  animation: show 1s ease-in-out forwards;
}

@keyframes hide {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes show {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
