@import '../../../../Global\ styles/variables/variables.scss';
@import '../../../../Global\ styles/functions/function.scss';

.admin-panel-wrapper {
  position: relative;
  overflow: hidden;
  @include basicFlexBox(column);
  gap: 20px;
}

#admin-canvas {
  display: none;
}

#canvas-h2 {
  display: none;
}

@media (width >= 640px) {
  #admin-canvas {
    display: block;
    background-color: $background-clr2;
    border: {
      color: $clr-grey;
      style: solid;
      width: 1px;
      radius: 8px;
    }
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    padding: 20px;
    box-sizing: content-box;
  }

  #canvas-h2 {
    display: block;
  }
}

.admin-panel-wrapper h2 {
  margin-bottom: 20px;
  text-align: center;
}

.control-buttons {
  margin-top: 30px;
}

.control-buttons h2 {
  margin-bottom: 20px;
  text-align: center;
}

.control-buttons button {
  display: inline-block;
  margin: 10px 10px 0 0;
}
