@import '../../../../Global\ styles/variables/variables.scss';
@import '../../../../Global\ styles/functions/function.scss';

.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper span {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
}

dialog.login-and-signup {
  width: 350px;
}

span img {
  width: 100%;
  height: 100%;
}

@keyframes blinkCursor {
  50% {
    border-right-color: transparent;
  }
}

@keyframes typeAndDelete {
  0%,
  10% {
    width: 0;
  }

  45%,
  55% {
    width: 5em;
  }

  90%,
  100% {
    width: 0;
  }
}

.terminal-loader {
  --box-shadow: rgba(0, 0, 0, 0.4);

  width: 100%;
  max-width: 300px;
  height: 200px;
  background: $clr-terminal-bg;
  border: 1px solid $clr-terminal-border;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
  box-shadow: 0 0 15px $clr-shadow;
}

.terminal-header {
  position: relative;
  @include basicFlexBox;
  background-color: $clr-terminal-header;
  padding: 6px;
}

.terminal-controls {
  position: absolute;
  left: 10px;
  display: flex;
  gap: 7px;
}

.control {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #777;
}

.control.close {
  background-color: #e33;
}

.control.minimize {
  background-color: #ee0;
}

.control.maximize {
  background-color: #0b0;
}

.terminal-title {
  color: #eeeeeec1;
}

.content {
  padding: 10px;
}

.text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid $clr-2-download;
  animation: typeAndDelete 4s steps(11) infinite,
    blinkCursor 0.5s step-end infinite alternate;
  color: $clr-1-download;
  font-weight: 600;
}
