.login-wrapper {
  width: 100%;
  min-height: calc(100svh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-wrapper > div {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: var(--background-clr2);
  padding: 30px;
  box-sizing: content-box;
  border-radius: 10px;
}

.login-wrapper > div > * {
  width: 100%;
}

.login-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  gap: 20px;
}

.login-wrapper p.login-details {
  margin-top: 30px;
  margin-bottom: 20px;
}

.login-wrapper a {
  color: var(--clr-1-download) !important;
}

.login-wrapper h2 {
  margin-bottom: 10px;
}

.login-wrapper button {
  width: 100%;
  height: 40px;
  background-color: var(--clr-2-download);
  color: var(--buttons-clr);
  border: 1px solid var(--clr-1-download);
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: var(--clr-3-download);
  }
}

.login-wrapper button.continue-with {
  background-color: transparent;
  position: relative;

  &:hover {
    background-color: var(--clr-1-download);
  }
}

.login-wrapper button.continue-with::before {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
}

.login-wrapper button.continue-with-google::before {
  content: url('./../../../assets/google-icon.png');
}

.login-wrapper button.continue-with-apple::before {
  content: url('./../../../assets/apple-icon.png');
}

.group {
  width: 100%;
  display: flex;
  margin-top: 20px;
}

.group p {
  text-align: center;
}

.logged-in {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}
