.signup-wrapper {
  width: 100%;
  min-height: 90svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-wrapper > div {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 20px;
  background-color: var(--background-clr2);
  padding: 40px;
  border-radius: 10px;
  box-sizing: content-box;
}

.signup-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 30px;
}

.signup-wrapper p {
  margin-top: 10px;
}

.signup-wrapper a {
  color: var(--clr-green-50) !important;
}

.signup-wrapper button.green-button {
  width: 100%;
  height: 40px;
  background-color: var(--clr-green-100);
  color: var(--clr-green-50);
  border: 1px solid var(--clr-green-50);
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: var(--clr-green-200);
    transition: background-color 0.3s ease-in-out;
  }
}

.signup-wrapper > .button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.signup-wrapper button.come-back-button {
  width: 30%;
}

.signup-wrapper button.email-button {
  width: 70%;
}

.signup-wrapper ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  align-items: flex-start;
  /* margin: 0 auto; */
  margin-left: 15px;
}

.signup-wrapper #requirements-p {
  font-weight: 700;
}

.signup-wrapper li {
  list-style-type: none;
  width: fit-content;
  padding-left: 7px;

  &::marker {
    content: '✱';
    color: var(--buttons-clr);
  }
}
