.about-wrapper {
  background-color: var(--background-clr);
  padding-bottom: 70px;
}

.about-wrapper h1 {
  font-size: 50px;
  font-weight: 600;
}

.about-wrapper p {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
}

.about-wrapper button {
  font-family: 18px;
}
