@import '../../../../../Global\ styles/functions/function.scss';
@import '../../../../../Global\ styles/variables/variables.scss';

.ratings-wrapper {
  display: flex;
  flex-direction: column !important;
  overflow: hidden;
}

.ratings-wrapper > h1 {
  margin-bottom: 40px;
}

.rating {
  width: 500px;
  background-color: $background-clr2;
  border-radius: 15px;
  @include basicFlexBox(column);
}

.rating > div {
  width: 100%;
  padding: 20px;
}

.rating > div:nth-of-type(1) {
  height: 40%;
}

.rating > div:nth-of-type(2) {
  height: 60%;
  padding-top: 0;
}

.rating .ratings-top-wrapper {
  display: flex;
  justify-content: start;
  column-gap: 20px;
  align-items: center;
}

.ratings-top-wrapper img {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

.ratings-top-wrapper .name {
  font-weight: bold;
}

.ratings-top-wrapper > div {
  height: 100%;
  width: fit-content;
}

.rating .ratings-bottom-wrapper {
  @include basicFlexBox;
}

.marquee-container {
  overflow: hidden;
  width: 100%;
  margin: 20px 0;
  position: relative;
}

.marquee-content {
  display: flex;
  gap: 40px;
  width: max-content;
  animation: scroll-left 60s linear infinite;
}

.marquee-container.reverse .marquee-content {
  animation: scroll-right 60s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
